body {
    padding-top: 60px;
    padding-bottom: 40px;
}

a.txt-small {
    font-size: 12px;
}

a.txt-small-italic {
    font-size: 12px;
    font-style:italic;
}

.span_wrapper {
    position: relative;
}

.span_bottom {
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: inline-block;
    text-align: right;
  
}

.modal-responsive {
   position: fixed;
   top: 20px;
   right: 20px;
   left: 20px;
   width: auto;
   margin: 0;
 }
 
div.example-heading {
	margin: 15px 0 0 0;
	padding: 5px 8px;
	font-size: 16px;
	color: #000000;
	background: #f2f2f2;
	border: 1px solid #d0d0d0;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

.example-body {
	list-style-type: none;
	padding: 5px 8px;
	font-size: 13px;
	color: #000000;
	margin: 0 0 15px 0;
	background: #f9f9f9;
	border: 1px solid #d0d0d0;
	border-top: none;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.example-metadata {
	padding: 5px 5px;
	font-size: 13px;
	color: #666666;
	float: right;
}