
<div data-role="header" data-poistion="fixed">
	<h1>Login</h1>
</div><!-- /header -->

<div id="loginContainer" data-role='content'>


 <table border ="0">
   <tr><td>	
    <td>User Id:</td>
	<td><input type="text"  id="user" name="user" size="20"/>  <br />
	</td></tr>
  <tr> <td>	
	<td>Password:</td>
	<td><input type="password" id="password" name="password" /> <br />
  	
   </td> </tr>
   
   <tr><td colspan="2">	
	<input type="button" id="login" name="login" value="Login" size="50" />
   </td></tr>
   
     

</table>
		
<div>
	<br /><br/> <br/>
</div>	
  <div id="message">	
  
  </div>
		
</div>



	