            <li><<a href="#" id="returnHome">Home</a><span class="divider">></span></li>
            <li><a href="#category/view/<%=reference.category.id%>"><%=reference.category.name%></a><span class="divider">></span></li>
            <li><a href="#reference/view/<%=reference.category.id%>/<%=reference.id%>"><%=reference.name%></a><span class="divider">></span></li>  
            <li class="active">Commands</li> <i id="add" class="icon-plus"></i>
            <li class="pull-right"><a href="#examples/view/<%=reference.id%>"><span class="label label-warning">Code Examples</span></a></li>