            <li><a href="#" id="returnHome">Home</a><span class="divider">></span></li>
            <li><a href="#category/view/<%=category.id%>"><%=category.name%></a><span class="divider">></span></li>
            <li><a href="#reference/view/<%=category.id%>/<%=id%>"><%=name%></a><span class="divider">></span></li>  
            <li class="active">Examples</li> <i id="add" class="icon-plus"></i>
            <li class="pull-right"><a href="#reference/view/<%=category.id%>/<%=id%>"><span class="label label-success">Reference Commands</span></a></li>