
            
            <div style="padding: 8px 8px" id="comment-list">
            
            
            </div>
            
            <form>
                <div class="control-group">
                    <div class="controls">
                        <textarea class="input-block-level" id="comment" rows="4" name="comment" placeholder="Add to the solution..."></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary btn-submit" id="submit">Submit</button>
                    </div>
                </div>
            </form>