

	<div id="nav-bar" class="navbar navbar-inverse navbar-fixed-top">

	</div>

	<div id="page-content" class="container-fluid">
       <div id="quick-add">
		<div class="hero-unit" id="home-search"
			style="background: url(img/home-search3.jpg) left bottom; color: white; text-shadow: black 0.2em 0.2em 0.2em;">

			
		</div>
	  </div>
		<!-- Recent Commands Thumbnails -->
			<div class="row-fluid">
				<div class="span12">
					<div class="well well-small">Your Recent Solutions and Commands</div>
					<div id="recent-viewed-thumbviews"></div>
				</div>
			</div>
	</div>
