            
            <div class="modal-header">
                <button type="button" id="close" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Command Grok Sign In</h4>
            </div>
            <div class="modal-body">
            <form>
                <fieldset>
                    <label>Username</label> 
                    <input id="userid" type="text" placeholder="Username" autofocus="autofocus"/> 
    
                    <label>Password</label>
                    <input id="password" type="password" placeholder="Password" />
                </fieldset>
            </form>
            <div class="text-error" style="font-weight:bold;" id="loginError"></div>
            </div>
            <div class="modal-footer">
                <button id="cancel" class="btn" data-dismiss="modal">Cancel</button>
                <button id="login" class="btn btn-primary">Sign In</button>
                <button id="linkedin" class="btn btn-primary">LinkedIn</button>
                <button id="google" class="btn btn-primary">Google+</button>
                <button id="twitter" class="btn btn-primary">Twitter</button>
            </div>