
                <div class="btn-group"> 
                    <a class="btn btn-fixed-width" href="#category/view/<%=id%>"><i class="icon-chevron-right"></i> <%=name%></a>
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#" id="editCategoryModal" data-toggle="modal"><i class="icon-edit"></i> Edit</a></li>
                        <li><a href="#" id="deleteCategoryModal" data-toggle="modal"><i class="icon-remove"></i> Delete</a></li>
                    </ul>
                </div><br />
                