
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="close">x</button>
                    <h4 id="myModalLabel">Edit Reference</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="control-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input id="name" name="name" type="text" autofocus="autofocus" placeholder="Enter a reference name..." value="<%=name%>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="description">Description</label>
                                <div class="controls">
                                    <input id="description" name="description" type="text" placeholder="Enter a reference description..." value="<%=description%>"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="imageUrl">Image URL</label>
                                <div class="controls">
                                    <input id="imageUrl" name="imageUrl" type="text" placeholder="Enter an image URL..." value="<%=imageUrl%>" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="attribution">Attribution</label>
                                <div class="controls">
                                    <input id="attribution" name="attribution" type="text" placeholder="Enter an attribution..." value="<%=attribution%>" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-small btn-primary btn-submit" id="submit">Save</button>
                    <button class="btn btn-small btn-cancel" data-dismiss="modal" id="cancel">Cancel</button>
                </div>